<header>parent's header</header>
<header>parent's header</header>
<header>parent's header</header>
<body>
  <app-child-component></app-child-component>
  <app-child-component></app-child-component>
  <app-child-component></app-child-component>
  <app-child-component></app-child-component>
  <app-child-component></app-child-component>
  <app-child-component></app-child-component>
  <app-child-component></app-child-component>
  <app-child-component></app-child-component>
  <app-child-component></app-child-component>
  <app-child-component></app-child-component>
</body>
<footer>footer</footer>
